.App {
  text-align: center;
  background-color: #933335;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Staatliches", cursive;
}

.date {
  color: #fb5856;
  font-size: 3rem;
  margin-bottom: 5rem;
  padding-top: 7rem;
}

.title {
  font-size: 7rem;
  margin-bottom: 0;
}

.secondTitle {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 8rem;
}

.footer {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: rgb(190, 188, 188);
  margin-top: 10rem;
}

.menu {
  font-size: 5rem;
}
